<h3>	New Inquiry </h3>
<p> Name    : <%= @contact.name %> </p> 
<p> Mobile  : <%= @contact.mobile %> </p>
<p> email   : <%= @contact.email %> </p>
<p> subject : <%= @contact.subject %> </p>
<p> message : <%= @contact.message %></p> 