<!DOCTYPE html>
<html>
  <head>
    <title>Jsquaredemo1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <a href="favicon.png" rel="icon">
    <a href="apple-touch-icon.png" rel="apple-touch-icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM0nnx9prPkcqAS0jxec5hpjcnFuO2SXg&signed_in=true&callback=initMap" async defer></script> -->
    
    <!-- <script src="//maps.google.com/maps/api/js?key=AIzaSyDM0nnx9prPkcqAS0jxec5hpjcnFuO2SXg"></script>  
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>  
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <script src='//underscorejs.org/underscore-min.js' type='text/javascript'></script> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  </head>

  <body>
  <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"></div>
  <header id="header">
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <!-- <h1><a href="" class="scrollto">Tour & Travel</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
         <%= image_tag "logo.png" , id: "imglogo" %>
      </div>

      <nav id="nav-menu-container" role="navigation">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="menu-has-children"><a href="#intro">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

       <!--Main Slider-->
      <section class="main-slider">

          <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
              <ul>
                  <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                  <%= image_tag alt="jsquare/Bali-Indonesia.jpg",class: "rev-slidebg", databgfit:"cover", databgparallax: "10", databgposition:"center center", databgrepeat:"no-repeat", datanoretina:"" %>

                    <div class="tp-caption splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['800','800','800','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['20','-10','0','-10']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h3 class="text-center" style="color: white">Game Roster</h3>
                    </div>

                  </li>

                  <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                  <%= image_tag "jsquare/burj-khalifa.jpg", class: "rev-slidebg", databgfit:"cover", databgparallax:"10", databgposition:"center center", databgrepeat:"no-repeat", datanoretina:"" %>

                    <div class="tp-caption splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['800','800','800','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['20','-10','0','-10']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h3 class="text-center">Discover</h3>
                    </div>

                    <div class="tp-caption tp-resizeme splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','400','360']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['120','85','100','55']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h4 class="text-center" style="color: white">Players and Communities</h4>
                    </div>
                    </li>

                  <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1690" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                  <%= image_tag "jsquare/international.jpg", class: "rev-slidebg", databgfit: "cover" , databgparallax: "10" , databgposition: "center center", databgrepeat: "no-repeat" %>

                    <div class="tp-caption tp-resizeme splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-width="none"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['20','-10','0','-10']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h3 class="text-center" style="color: white">Organize</h3>
                    </div>

                   <div class="tp-caption tp-resizeme splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','400','360']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['120','85','100','55']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h4 class="text-center splash-link" style="color: white">Everyone Everywhere</h4>
                    </div>
                  </li>

                  <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1691" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    
                  <%= image_tag "jsquare/Thai-2.jpg" , class: "rev-slidebg" , databgfit: "cover" , databgparallax: "10" , databgposition: "center center" , databgrepeat: "no-repeat" %>

                    <div class="tp-caption splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['800','800','800','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['20','-10','0','-10']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h3 class="text-center" style="color: white">Build</h3>
                    </div>

                    <div class="tp-caption tp-resizeme splash-text"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','400','360']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['120','85','100','55']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    <h4 class="text-center splash-link" style="color: white">Stronger Communities</h4>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
      </section>
      <!--End Main Slider-->

          

      <!--News Section-->
      <section id="about-1" class="news-section about">
        <div class="auto-container">
          <!--Sec Title-->
          <div class="sec-title centered">
              <h2>Join the Fight</h2>
          </div>
          <div class="row clearfix">
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="text-center">
                  <%= image_tag "target.png" ,style:"border-radius: 10px", alt: "Discover Clans Image" %>
                </div>
              <div class="lower-box">
                <h3>Discover</h3>
                  <div class="text">Find the right community and members for you based on age, activity, location, and fifteen advanced filters. Have more fun with player preferences, ratings, and algorithms that help you join the right games and groups.</div>
                    </div>
              </div>
            </div>
            <!--End News Block-->

            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="text-center">
                  <%= image_tag "nav.png" ,style:"border-radius: 10px" , alt:"Organize Your Clan Image" %>
                </div>
                <div class="lower-box">
                  <h3>Organize</h3>
                  <div class="text">Interactive game rosters support an endless number of game titles and sync across Discord, Twitch, and social networks. Share on any forum, game site, or email to reach your team anywhere.  Everyone is always just one click away from joining events.</div>
                </div>
              </div>
            </div>
            <!--End News Block-->

            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="text-center">
                  <%= image_tag "tools.png" , style:"border-radius: 10px" , alt:"Build Your Clan Image" %>
                </div>
                <div class="lower-box">
                  <h3>Build</h3>
                  <div class="text">Whether your an eSports team, streamer, charity, large clan, college, or a small group of friends, we have everything you need with a clan LFG, Discord bots, Twitch commands, clan applications, donations, clan chat, customizable ranks, mobile apps, and more. </div>
                </div>
              </div>
            </div>
            <!--End News Block-->
          </div>
        </div>

        <div class="auto-container">
          <div class="row clearfix">
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="text-center">
                  <%= image_tag "crest.png" , style:"border-radius: 10px" , alt:"Discover Clans Image" %>
                </div>
                <div class="lower-box">
                  <h3>Clans</h3>
                  <div class="text"> With hundreds of configuration options, you can quickly discover or build any type of community. Set up a gaming business coaching players, collect donations for your charity, promote your competitive team, streamline gaming night, or simply connect with fans. </div>
                </div>
              </div>
            </div>
                <!--End News Block-->
                <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="text-center">
                  <%= image_tag "rooster.png" ,style:"border-radius: 10px", alt:"Organize Your Clan Image" %>
                </div>
                <div class="lower-box">
                  <h3>Players</h3>
                  <div class="text">Detailed profiles, activity tracking, ratings, and fifteen advanced filters help you minimize lag and find the right player for your games and communities. Avoid trolls with player preferences that automatically screen and block players.</div>
                </div>
              </div>
            </div>
                <!--End News Block-->
                <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="text-center">
                  <%= image_tag "overwatch.png" , style:"border-radius: 10px" , alt:"Build Your Clan Image" %>
                </div>
                <div class="lower-box">
                  <h3>Games</h3>
                  <div class="text">Create public, private, or clan events using interactive game rosters that track invitations, participation, and roster changes with real-time alerts to your phone. Post on Discord, Twitch, or our mobile app to reach players on any site or platform. </div>
                </div>
              </div>
            </div>
                <!--End News Block-->
          </div>
        </div>
      </section>
      <!--End News Section-->

      <!--Three Simple Steps-->
      <section class="about-steps">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2>THREE SIMPLE STEPS</h2>
            </div>
            <div class="col-sm-4">
              <div class="step-box text-center">
                <div class="circel wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                  1
                </div>
                <h3>Add Profile</h3>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="step-box text-center">
                <div class="circel wow fadeInDown  animated" data-wow-duration="0.5s" data-wow-delay="0.6s">
                  2
                </div>
                <h3>Join Clans</h3>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="step-box text-center">
                <div class="circel wow fadeInDown  animated" data-wow-duration="0.5s" data-wow-delay="0.9s">
                  3
                </div>
                <h3> Post | Share | Play </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Three Simple Steps-->

      <!--Call To Action Two-->
      <section class="call-to-action-two" style="background-image:url('assets/cards.png');">
        <div class="auto-container">
          <h2>Share Events With Everyone Everywhere</h2>
        </div>
      </section>
      <!--End Call To Action Two-->

      <!--Reach-->
      <section class="reach">
        <div class="container-fluid share">
          <div class="row wow slideInLeft" data-wow-delay="0.0s">
            <div class="col-sm-12 col-xs-12 text-center">
              <h2 style="text-transform: uppercase;">Post Events Here</h2>
              <%= image_tag "gr-logo.png", alt:"Game Roster Network - Share With Everyone Everywhere" ,class: "share-image wow fadeIn" , datawowdelay:"0s" %>
              <%= image_tag "icons8-websitegld.png", alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn" , datawowdelay: "0s" %>
              <%= image_tag "icons8-androidgld.png", alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn" , datawowdelay: "0s" %>
              <%= image_tag "icons8-discordgld.png", alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn" , datawowdelay: "0s" %>
              <%= image_tag "icons8-twitchgld.png" , alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn" , datawowdelay: "0s" %>
            </div>
          </div>
        </div>

        <div class="container-fluid share">
          <div class="row wow slideInRight" data-wow-delay="1s">
            <div class="col-sm-12 col-xs-12 text-center">
              <h2 style="text-transform: uppercase;">Set Up Recurring Clan Events</h2>
              <h4>- Syncs With Discord Automatically</h4>
              <h4>- Real Time Mobile App Notifications</h4>
            </div>
          </div>
        </div>

        <div class="container-fluid share">
          <div class="row wow slideInLeft" data-wow-delay="1s">
            <div class="col-sm-12 col-xs-12 text-center">
              <h2 style="text-transform: uppercase;">Reach Your Clan Anywhere</h2>
              <%= image_tag "icons8-discordgld.png" ,alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay:"1.5s" %>
              <%= image_tag "icons8-twittergld.png" ,alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay:"1.6s" %>
              <%= image_tag "icons8-facebookgld.png",alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay:"1.7s" %>
              <%= image_tag "icons8-redditgld.png"  ,alt:"Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay:"1.8s" %>
              <%= image_tag "icons8-playstationgld.png" ,alt:"Game Roster Network - Share With Everyone Everywhere" ,class: "share-image wow fadeIn", datawowdelay:"1.9s" %>
              <%= image_tag "icons8-xboxgld.png"  , alt: "Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay: "2.0s" %>
              <%= image_tag "icons8-battlegld.png", alt: "Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay: "2.1s" %>
              <%= image_tag "icons8-steamgld.png" , alt: "Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay: "2.2s" %>
              <%= image_tag "icons8-origingld.png", alt: "Game Roster Network - Share With Everyone Everywhere", class: "share-image wow fadeIn", datawowdelay: "2.3s" %>
            </div>
          </div>
        </div>

        <div class="container-fluid share">
          <div class="row wow slideInRight" data-wow-delay="0.5s">
            <div class="col-sm-12 col-xs-12 text-center">
              <a href="/events/3pJaA" class="theme-btn btn-style-three">Click Here To See A Roster</a>
            </div>
          </div>
        </div>

      </section>
      <!--End Reach-->
      <!--FullWidth Gallery-->
      <section class="fullwidth-gallery">
        <div class="outer-container">
          <div class="row clearfix">
            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "DestinyCover.jpeg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Discover Clans</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "LOL Cover.jpeg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Organize Events</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "Overwatch Cover Alt.jpg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Build Loylaty</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "PUBG Cover.jpeg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Engage Fans</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "Fortnite Cover.jpeg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Find Players</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "COD WWII Cover.png" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Raise Money</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "WOW Cover.jpg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Cross Platform</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="inner-box">
                <div class="image"><%= image_tag "DOTA2 Cover.jpeg" %>
                  <!--Overlay Box-->
                  <div class="overlay-box">
                    <div class="content">
                      <h3>Share Everywhere</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!--End FullWidth Gallery-->
         
      <!--One Clan-->
      <section class="one-clan">
        <div class="text-center one-clan-heading">
        <h2 class="text-center">CLAN FOR ALL YOUR GAMES</h2>
          <h4 class="text-center">- Switch to new games with players you like</h4>
          <h4 class="text-center">- Grow With An Endless Number of Game Titles</h4> 
          <h4 class="text-center">- Say goodbye to LFG and matchmaking</h4>
        </div> 
        
        <div class="line text-center"></div>
        
        <div class="text-center one-clan-heading">
        <h2 class="text-center">JOIN MULTIPLE CLANS</h2>
          <h4 class="text-center">- See All Your Clan Events On One Screen</h4>
          <h4 class="text-center">- Play With Communities That Are Right For You</h4> 
          <h4 class="text-center">- Join As Many As You Want</h4>
        </div>  

        <div class="line text-center"></div>
        
        <div class="text-center one-clan-heading">
        <h2 class="text-center">STRONGER COUMMUNITIES</h2>
          <h4 class="text-center">- Centralized Clan For All Your Games</h4>
          <h4 class="text-center">- Connect To Other Plaftorms or Sites</h4> 
          <h4 class="text-center">- Share Videos, Chat, and Organize</h4>
        </div>    
      </section>
      <!--One Clan End-->

      <!--Key Features-->
      <section id="about-2" class="about-features">
        <div class="container-fluid">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-repeat"></i>
                <h4>Recurring Events</h4>
                <p>Automatically Posted</p>
                <p>Always Ready to Play</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-simplybuilt"></i>
                <h4>Discord Bot</h4>
                <p>Add LFG to Server</p>
                <p>Syncs Clan Events</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-filter"></i>
                <h4>Advanced Filters</h4>
                <p>Find Ideal Players</p>
                <p>Join the Right Clan</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-gg-circle"></i>
                <h4>Community LFG</h4>
                <p>Build Your Own LFG</p>
                <p>Get Reliable Players</p>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-comments"></i>
                <h4>Messaging</h4>
                <p>Cross Platform</p>
                <p>Discord Bot</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-check-square"></i>
                <h4>Recruitment</h4>
                <p>Post Applications</p>
                <p>Send Invitations</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-lock"></i>
                <h4>Access Codes</h4>
                <p>Restrict Clan Access</p>
                <p>Reward Followers</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-arrow-up"></i>
                <i class="fa fa-arrow-down"></i>
                <h4>Custom Ranks</h4>
                <p>Set Clan Permissions</p>
                <p>Limit Member Access</p>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-cogs"></i>
                <h4>Interactive Rosters</h4>
                <p>Quickly Organize Games</p>
                <p>Live Notices &amp; Updates</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-steam"></i>
                <h4>Integration</h4>
                <p>Share Important Links</p>
                <p>Add Sponsorship Sites</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                 <i class="fa fa-usd"></i>
                <h4>Support</h4>
                <p>Collect Donations</p>
                <p>Optional Annual Dues</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-twitch"></i>
                <h4>Videos</h4>
                <p>Build an Audience</p>
                <p>Twitch and YouTube</p>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-user-secret"></i>
                <h4>Private Games</h4>
                <p>Invite Friends</p>
                <p>Schedule In Advance</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-thumbs-up"></i>
                <h4>Social Sharing</h4>
                <p>Promote Your Events</p>
                <p>Grow Your Community</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-ban"></i>
                <h4>Player Preferences</h4>
                <p>Set Requirements</p>
                <p>Automatically Block</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="features">
                <i class="fa fa-star-half-o"></i>
                <h4>Profiles</h4>
                <p>Stats and Tracking</p>
                <p>Ratings and Links</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Key Featrues End-->


      <!--Stories Section-->
      <section class="stories-section" id="about-3">
        <div class="auto-container">
          <div class="inner-container">
            <!--Section Title-->
            <div class="section-title">
              <!--Sec Title-->
              <div class="sec-title centered">
                <h2>Something For Everyone</h2>
              </div>
                <h3 class="text-center">Build Stronger Communities</h3>
            </div>
            <!--End Section Title-->

            <!--Stories Blocks-->
            <div class="stories-blocks">
              <!--Story Block-->
              <div class="story-block">
                <div class="inner-box">
                  <div class="clearfix">
                  <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-content">
                        <h3>Competitive Teams</h3>
                          <div class="text">Build loyalty and engage fans within an interactive community. Post scrimmages. Raise money with coaching events and donations. Promote tournaments and the team to new players.</div>
                      </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                      <div class="image">
                        <%= image_tag "jsquare/rajasthan-tour-package.jpg" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                    <!--Story Block-->
              <div class="story-block">
                <div class="inner-box">
                  <div class="clearfix">
                      <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                      <div class="image">
                        <%= image_tag "jsquare/beautiful-andaman.jpg" %>
                      </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-content">
                        <h3>Streamers</h3>
                        <div class="text">Turn viewers into loyal members of an interactive community. Collect donations without commissions. Share schedules and grow across all video platforms concurrently. Organize joint streams and reward subs with clan access codes and ranks.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Story Block-->
              <div class="story-block">
                <div class="inner-box">
                  <div class="clearfix">
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-content">
                        <h3>Clans</h3>
                        <div class="text">We provide everything you need to smoothly run your clan. Activity algorithms help promote the clan and recruit more members while recurring events take the hassle out of organizing games. Keep your clan active across an endless number of titles.</div>
                      </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                      <div class="image">
                        <%= image_tag "jsquare/evening.jpg" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Story Block-->
              <div class="story-block">
                <div class="inner-box">
                  <div class="clearfix">
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                      <div class="image">
                        <%= image_tag "jsquare/ice.jpg" %>
                      </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-content">
                        <h3>Friends</h3>
                        <div class="text">Take the hassle out of organizing your next game night. Streamline your event planning with a small closed clan. Post in seconds and track invitations, participation, and roster status changes.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Story Block-->
              <div class="story-block">
                <div class="inner-box">
                  <div class="clearfix">
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-content">
                        <h3>Charities</h3>
                        <div class="text">Raise awareness to find players that support your cause.  Use donations to raise funds. Reward supporters with ranks. Organize events to engage, grow, and interact with your community.</div>
                      </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                      <div class="image">
                        <%= image_tag "jsquare/hong-kong.jpg" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Story Block-->
              <div class="story-block">
                <div class="inner-box">
                  <div class="clearfix">
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                      <div class="image">
                        <%= image_tag "jsquare/kerala.jpeg" %>
                      </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-content">
                        <h3>Colleges</h3>
                        <div class="text">Promote your gaming programs and quickly organize events with alumni.  Raise funds with donations and get the benefits of a full-blown site without all the development cost or hassle.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End Stories Blocks-->

            <!--Testimonial Section Two-->
            <section class="testimonial-section-two" >
              <!--Testimonioal Block Two-->
              <div class="single-item-carousel owl-carousel owl-theme">
                <!--Testimonial Block Two-->
                <div class="testimonial-block-two">
                  <div class="inner-box">
                    <div class="text">“Game Roster provides an intuitive website to help coordinate activities in an easy way.  Couple that with the integration to Discord to publicize your event to clanmates makes this site invaluable to Bright Light Gaming."</div>
                    <div class="author">theSNEAKtheif, Bright Light Gaming</div>
                  </div>
                </div>
                <!--Testimonial Block Two-->
                <div class="testimonial-block-two">
                  <div class="inner-box">
                    <div class="text">“As a dad with limited time, Game Roster makes it easy to set up games with friends. Sharing events through the app or through other gaming applications helps keep everyone in sync no matter how busy they are."</div>
                    <div class="author">Rollins, 3G Gamers</div>
                  </div>
                </div>
              </div>
            </section>
                <!--End Testimonial Section Two-->
          </div>
        </div>
      </section>
      <!--End Stories Section-->


      <!--Favorite Section-->
      <section class="favorite-section">
        <div class="auto-container">
          <!--Sec Title-->
          <div class="sec-title centered">
            <div class="title"></div>
            <h2>Account Options</h2>
          </div>
          <div class="row clearfix">
            <!--Favorite Block-->
            <div class="favorite-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="image">
                  <%= image_tag "jsquare/crush.jpeg" %>
                  <div class="overlay-box">
                    <div class="overlay-inner">
                      <div class="content">
                        <h3><a href="/features">Basic</a></h3>
                        <div class="text" style="font-weight: 500;">Free</div>
                        <div class="text">Join Unlimited Clans</div>
                        <div class="text">Post & Join Events</div>
                        <div class="text">Post Public Profile</div>
                        <div class="text">Interactive Rosters</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Favorite Block-->
            <div class="favorite-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="image">
                  <%= image_tag "jsquare/nainital.jpg" %>
                  <div class="overlay-box">
                    <div class="overlay-inner">
                      <div class="content">
                        <h3><a href="/features">Pro</a></h3>
                        <div class="text">$5.99 per Year</div>
                        <div class="text">All Basic Benefits</div>
                        <div class="text">Custom Avatar</div>
                        <div class="text">Accept Donations</div>
                        <div class="text">Remove Ads</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <!--Favorite Block-->
            <div class="favorite-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                <div class="image">
                  <%= image_tag "jsquare/goa.jpg" %>
                  <div class="overlay-box">
                    <div class="overlay-inner">
                      <div class="content">
                        <h3><a href="/features">Elite</a></h3>
                        <div class="text">$19.99 per Year</div>
                        <div class="text">All Pro Benefits</div>
                        <div class="text">Create A Clan</div>
                        <div class="text">Clan LFG & Tools</div>
                        <div class="text">Ad Free Clan Pages</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!--End Favorite Section-->

      <!--Call To Action Two-->
      <section class="call-to-action-two" style="background-image:url('assets/space.jpeg');">
        <div class="auto-container">
          <h2>Join the Fight</h2>
            <br><br>
          <a href="" class="theme-btn btn-style-three">Sign Up</a>
        </div>
      </section>
      <!--End Call To Action Two-->
            
    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
    <script>new WOW().init();</script>
    <br>

    <h3 style="text-align: center">Contact Us</h3>    

    <%= yield %>
    
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-info">
              <h3>J Square Tour & Travel</h3>
              <p>Cras fermentum odio eu feugiat lide part proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#services">Services</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                A108 Adam Street <br>
                New York, NY 535022<br>
                United States <br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit"  value="Subscribe">
              </form>
            </div>

          </div>
        </div>
      </div>

      <div style="text-align: center;">
        <div class="copyright">
          &copy; Copyright <strong>J Square Tour & Travel</strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- #footer -->
    <div style='width: 800px;'>  
      <div id="map" style='width: 800px; height: 400px;'></div>  
    </div>  
<!-- 
<script>
function myMap() {
  var myCenter = new google.maps.LatLng(51.508742,-0.120850);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 5};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);

  // // Zoom to 9 when clicking on marker
  // google.maps.event.addListener(marker,'click',function() {
  //   map.setZoom(9);
  //   map.setCenter(marker.getPosition());
  // });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7evMt7AHdVIdbmzoZCjKhV32xwGpsmOc&callback=myMap"></script> -->
    <!-- <script type="text/javascript">  
    handler = Gmaps.build('Google');  
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
      markers = handler.addMarkers([  
        {  
          "lat": 23.0405017,  
          "lng": 72.6779413,  
          "picture": {  
            "width":  32,  
            "height": 32  
          },  
          "infowindow": "Logical Street ,407, Galaxy Business Park, Opp. Torrent Sub Station,, Nr. Kathwada GIDC, Sardar Patel Ring Rd, Nikol, Ahmedabad, Gujarat 382350"  
        }  
      ]);  
      handler.bounds.extendWith(markers);  
      handler.fitMapToBounds();  
    });  
    </script> -->
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3618.727010735933!2d91.837871!3d24.907291700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1404919738144"></iframe>

        
  </body>
</html>